*,
html,
body {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}

body{
    font-family: "Manrope", Helvetica, sans-serif;
    /* width: 100%; */
    /*  */
    /* background-color: #F5F5F5; */
    background-color: #173c5a;
}

h1, 
h2, 
h3, 
h4, 
p, 
a, 
li{
    letter-spacing: -0.03em;
    color: #F5F5F5;
}

h1{
    font-weight: 400; 
}

h2{
    padding-bottom: 40px;
    font-size: 60px;
}

h3{
    padding-bottom: 30px;
    font-size: 30px;
}

main{
    /* width: 1400px;
    margin: 0 auto; */
    /*  */
    background: #011627;  
    /* padding: 0 125px;  */
    background-image: url('/resources/background.jpg');
}

section{
    margin-bottom: 150px;
    /* width: 100%;
    padding: 0 120px; */
    /*  */
}

section:nth-last-child(1){
    margin-bottom: 0;
}

section:nth-last-child(3){
    margin-bottom: 0px;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.body_fixed{
overflow: hidden;
}

/* header */



.logo__box{
    width: 67px;
    height: 67px;
    color: #F5F5F5;
    margin-bottom: 30px;
}

a.logo{
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

.header__inner{
    display: none;
    /* position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto; */
}

.burger-btn{
    display: none;
}

.burger{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.burger_open{
    opacity: 1;
    visibility: visible;
}

.burger__content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 20px;
    padding-top: 100px;
}

.burger-menu-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #011627; */
}

.burger-menu__link{
    /* display: block; */
    line-height: 67px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 75%;
    cursor: pointer;
    color: black;
}

/* section hero */


.section__hero{
    padding: 0;
    margin: 0;
}

.hero__head {
    display: block;
    position: absolute; 
    max-width: 850px;
    /* width: 850px; */
    /* height: 205px; */
    bottom: 94px;
    left: 120px;
    font-size: 80px;
    line-height: 70px; 
    text-align: left;
    color: white;
}

.hero__inner{
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    /* border: 1px solid red; */
    background-image: url('../resources/night.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}

.hero__text {
    display: block;
    position: absolute; 
    width: 430px;
    bottom: 328px;
    left: 125px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    text-align: left;
    color: white;
}

.gradient__img{
    display: block;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
}


/* меню */

.section__menu{
   position: sticky;
   top: 0;
   margin: 0 auto;
   padding: 0;
   max-width: 1400px;
}

.menu__skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.menu__cross{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 21px;
    background-image: url('../resources/cross.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.menu-nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #011627;
}
.menu__list, .footer-menu__list {
   display: flex;
   justify-content: space-around;
}
.menu__item{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    align-content: end;
}
.menu__link{
    display: inline-block;
    width: 252px;
    height: 67px;
    line-height: 67px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    opacity: 75%;
    /* border-radius: 5px; */
    cursor: pointer;
    /* background: #00C9E0; */
    color: white;
}

.menu__link:hover{
    border-bottom: 1px solid #00C9E0;
    opacity: 100%;
}

/* обо мне */
 
.section__about::before{
    content: '';
    display: block;
    width: 24px;
    height: 70px;
    /* margin-bottom: 12px; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.about__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
}

.about__description{
    /* width: 415px; */
    flex: 0 1 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    text-align: justify;
   
}
.about__head{
    /* margin-bottom: 30px; */
}

.about__foto-wrapper{
    flex: 0 1 50%;
    border-radius: 30px;
}

.about__foto{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

/* проекты */

.section__projects::before{
    content: '';
    display: block;
    width: 24px;
    height: 70px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

/* .projects__list{
    display: flex;
    flex-wrap: wrap;
} */

.project{
    display: flex;
    justify-content: space-between;
    /* width: 500px; */
    /* height: 500px; */
    padding-bottom: 30px;
    column-gap: 30px;
}

.project:nth-child(2n){
    flex-direction: row-reverse;
}

.project__img{
    display: block;
    width: 900px;
    height: 600px;
    object-fit: contain;
}

.project__text{
    display: flex;
    flex: 0 1 450px;
    flex-direction: column;
    justify-content: center;
    /* width: 450px; */
    padding: 20px 0;
    align-items: center;
}

.project__btn{
    display: block;
    width: 100%;
    height: 62px;
    border-radius: 200px;
    cursor: pointer;
    background-color: #00C9E0;
    color: #F5F5F5;
    line-height: 62px;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.project__btn:hover{
    background-color: #F5F5F5;
    color: #173c5a;
    opacity: 100%;
}

/* компетенции */

.competencies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    grid-auto-columns: auto;
    grid-auto-flow: row;
}

.competencies__inner{
    padding: 15px;
    background-color: #011627 ;
    border: 1px solid #2c8b96;
    border-radius: 15px;
}

.competencies__text{
    font-size: 25px;
    padding-bottom: 30px;
    text-align: justify;
}

.section__competencies::before{
    content: '';
    display: block;
    width: 24px;
    height: 70px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

/* Контакты */

.contacts__inner{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 30px;
    padding-bottom: 30px;
}

.section__contacts::before{
    content: '';
    display: flex;
    width: 24px;
    height: 70px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.phonenumber{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin: 15px;
    color: #f5f5f5;
    text-decoration: none;
}

.phonenumber::before{
    content: '';
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-image: url('../resources/tel.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.mail{
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 30px;
    width: 100%;
    color: #f5f5f5 ;
    /* opacity: 50%; */
    /* border-bottom: 1px solid #f5f5f5; */
    text-decoration: none;
}

.mail::before{
    content: '';
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-image: url('../resources/mail.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-decoration: none;
}

.tg{
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 30px;
    width: 100%;
    color: #f5f5f5 ;
    /* opacity: 50%; */
    /* border-bottom: 1px solid #f5f5f5; */
    text-decoration: none;
}

.tg::before{
    content: '';
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-image: url('../resources/tg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-decoration: none;
    opacity: 70%;
}
.wa{
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 30px;
    width: 100%;
    color: #f5f5f5 ;
    /* opacity: 50%; */
    /* border-bottom: 1px solid #f5f5f5; */
    text-decoration: none;
}

.wa::before{
    content: '';
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-image: url('../resources/whatsapp.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-decoration: none;
    opacity: 70%;
}

/* .contacts__socials{
    display: flex;
    flex-direction: row;
} */

/* .messenger{
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 20px;
    opacity: 70%;
} */

/* footer */

footer{
    height: 220px;
    background-color: black;
    color: #fff;
}

.footer-nav{
    max-width: 1000px;
    margin: 0 auto;
}

.footer-menu__list{
    padding: 33px 0;
}

.footer__text{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    opacity: 50%;
}

@media (max-width: 1199px) {

    h2{
        text-align: center;
        padding-bottom: 20px;
        font-size: 30px;
    }
    
    h3{
        padding-bottom: 30px;
        font-size: 20px;
    }
    
    main{
        /* width: 1400px;
        margin: 0 auto; */
        /*  */
        background: #011627;  
        /* padding: 0 125px;  */
        background-image: url('/resources/background.jpg');
    }
    
    section{
        margin-bottom: 50px;
        /* width: 100%;
        padding: 0 120px; */
        /*  */
    }
    
    section:nth-last-child(1){
        margin-bottom: 0;
    }
    
    .section__hero{
        padding: 0;
        margin: 0;
    }

    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
    }

    .logo__box{
        width: 30px;
        height: 30px;
        color: #F5F5F5;
    }
    
    a.logo{
        font-size: 20px;
        line-height: 40px;
        text-decoration: none;
    }

    .burger-logo{
        font-size: 20px;
        line-height: 40px;
        text-decoration: none;
        color: black;
    }
        
    .hero__head {
        display: block;
        position: absolute; 
        max-width: 700px;
        /* width: 850px; */
        /* height: 205px; */
        bottom: 74px;
        left: 120px;
        font-size: 60px;
        line-height: 60px; 
        text-align: left;
        color: white;
    }
    
    .hero__inner{
        display: block;
        position: relative;
        width: 100%;
        height: 400px;
        margin: 0 auto;
        background-image: url('../resources/night.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%; 
    }
    
    .hero__text {
        display: block;
        position: absolute; 
        width: 430px;
        bottom: 328px;
        left: 125px;
        font-weight: 400;
        font-size: 20px;
        line-height: 27.32px;
        text-align: left;
        color: white;
    }
    
    .gradient__img{
        display: block;
        position: absolute; 
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    
    /* меню */

    .menu__skills{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .menu__cross{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        margin-bottom: 21px;
        background-image: url('../resources/cross.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }
    .menu-nav{
        display: flex;
        justify-content: space-evenly;
        background-color: #011627;
    }
    .menu__list, .footer-menu__list {
       display: flex;
       justify-content: space-around;
    }
    .menu__item{
        display: inline-block;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        align-content: end;
    }
    .menu__link{
        display: inline-block;
        width: 230px;
        height: 67px;
        line-height: 67px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        opacity: 75%;
        cursor: pointer;
        color: white;
    }
    
    .menu__link:hover{
        border-bottom: 1px solid #00C9E0;
        opacity: 100%;
    }
    
    /* обо мне */
     
    .section__about::before{
        content: '';
        display: block;
        width: 24px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }
    
    .about__inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .about__description{
        /* width: 415px; */
        flex: 0 1 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 25px;
        text-align: justify;
       
    }
    .about__head{
        margin: 0 auto;
    }

    .about__text{
        font-size: 25px;
    }
    
    .about__foto-wrapper{
        flex: 0 1 40%;
        border-radius: 30px;
    }
    
    .about__foto{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        object-fit: cover;
    }
    
    /* проекты */
    
    .section__projects::before{
        content: '';
        display: block;
        width: 24px;
        height: 30px;
        margin-bottom: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }
    
    
    .project{
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        column-gap: 30px;
    }

    .project:nth-last-child(1){
        padding-bottom: 0;
    }
    
    .project:nth-child(2n){
        flex-direction: row-reverse;
    }

    /* .projects__head{
        padding-left: 55px;
    } */

    .project__img{
        display: block;
        max-width: 550px;
        max-height: 350px;
        /* border-radius: 50px; */
        object-fit: contain;
    }
    
    .project__text{
        display: flex;
        flex: 0 1 380px;
        flex-direction: column;
        justify-content: center;
        /* width: 450px; */
        padding: 20px 0;
        align-items: center;
    }
    
    .project__btn{
        display: block;
        width: 100%;
        height: 55px;
        border-radius: 200px;
        cursor: pointer;
        background-color: #00C9E0;
        color: #F5F5F5;
        line-height: 55px;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    .project__btn:hover{
        background-color: #F5F5F5;
        color: #173c5a;
        opacity: 100%;
    }
    
    /* компетенции */
    
    .section__competencies{
        margin-bottom: 15px;
    }

    .competencies{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: center;
        grid-auto-columns: auto;
        grid-auto-flow: row;
    }
    
    .competencies__inner{
        padding: 15px;
        background-color: #011627 ;
        border: 1px solid #2c8b96;
        border-radius: 15px;
    }
    
    .competencies__text{
        font-size: 20px;
        text-align: justify;
    }
    
    .section__competencies::before{
        content: '';
        display: block;
        width: 24px;
        height: 30px;
        margin-bottom: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }
    
    /* Контакты */
    
    .contacts__inner{
        padding-bottom: 20px;
    }
    
    .section__contacts::before{
        content: '';
        display: flex;
        width: 24px;
        height: 30px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }
    
    .phonenumber{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        margin: 15px;
        color: #f5f5f5;
        text-decoration: none;
    }
    
    .phonenumber::before{
        content: '';
        display: flex;
        width: 25px;
        height: 25px;
        margin-right: 12px;
        background-image: url('../resources/tel.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }
    
    .mail{
        display: flex;
        align-items: center;
        margin: 15px;
        font-size: 20px;
        width: 100%;
        color: #f5f5f5;
        text-decoration: none;
    }
    
    .mail::before{
        content: '';
        display: flex;
        width: 25px;
        height: 25px;
        margin-right: 12px;
        background-image: url('../resources/mail.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        text-decoration: none;
    }
    .tg{
        display: flex;
        align-items: center;
        margin: 15px;
        font-size: 20px;
        width: 100%;
        color: #f5f5f5 ;
        text-decoration: none;
    }

    .tg::before{
        content: '';
        display: flex;
        width: 30px;
        height: 30px;
        margin-right: 12px;
        background-image: url('../resources/tg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        text-decoration: none;
        opacity: 70%;
    }
    .wa{
        display: flex;
        align-items: center;
        margin: 15px;
        font-size: 20px;
        width: 100%;
        color: #f5f5f5 ;
        text-decoration: none;
    }

    .wa::before{
        content: '';
        display: flex;
        width: 30px;
        height: 30px;
        margin-right: 12px;
        background-image: url('../resources/whatsapp.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        text-decoration: none;
        opacity: 70%;
    }
    
    .messenger{
        display: block;
        width: 25px;
        height: 25px;
        object-fit: contain;
        margin: 15px;
        opacity: 70%;
    }
    
    /* footer */
    
    .footer-menu__list{
        padding: 20px 0;
    }
    
}
/* __________________________________________________________________________ */


    @media (max-width: 1023px) {

        
        h2{
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            font-size: 25px;
        }
        
        h3{
            padding-bottom: 30px;
            font-size: 20px;
        }
        
        section{
            margin-bottom: 50px;
            width: 100%;
        }
        
        section:nth-last-child(1){
            margin-bottom: 0;
        }
        
        .section__hero{
            padding: 0;
            margin: 0;
        }
        .container{
            width: 100%;
            margin: 0 auto;
            padding: 0 30px;
        }

        .logo__box{
            width: 30px;
            height: 30px;
            color: #F5F5F5;
        }
        
        a.logo{
            font-size: 20px;
            line-height: 40px;
            text-decoration: none;
        }
            
        .hero__head {
            display: block;
            position: absolute; 
            max-width: 700px;
            /* width: 850px; */
            /* height: 205px; */
            bottom: 74px;
            left: 120px;
            font-size: 40px;
            line-height: 60px; 
            text-align: left;
            color: white;
        }
        
        .hero__text {
            display: block;
            position: absolute; 
            width: 430px;
            bottom: 328px;
            left: 125px;
            font-weight: 400;
            font-size: 20px;
            line-height: 27.32px;
            text-align: left;
            color: white;
        }        
        
        /* меню */
        
        .section__menu{
        position: sticky;
        top: 0;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        }
        
        
        .menu__skills{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 50px;
        }
        
        .menu__cross{
            display: none;
        }

        .menu-nav{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            background-color: #011627;
        }
        .menu__list, .footer-menu__list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
        }
        .menu__item{
            display: inline-block;
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            align-content: end;
        }
        .menu__link{
            display: inline-block;
            width: 230px;
            height: 67px;
            line-height: 67px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            text-decoration: none;
            opacity: 75%;
            cursor: pointer;
            color: white;
        }
        
        .menu__link:hover{
            border-bottom: 1px solid #00C9E0;
            opacity: 100%;
        }
        
        /* обо мне */
        
        .section__about::before{
            content: '';
            display: block;
            width: 24px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }
        
        .about__inner{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .about__description{
            /* width: 415px; */
            flex: 0 1 360px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 25px;
            text-align: justify;
        
        }
        .about__head{
            margin: 0 auto;
        }

        .about__text{
            font-size: 18px;
        }
        
        .about__foto-wrapper{
            flex: 0 1 40%;
            border-radius: 30px;
            
        }
        
        .about__foto{
            display: block;
            width: 70%;
            height: 70%;
            border-radius: 20px;
            object-fit: cover;
            justify-self: center;
        }
        
        /* проекты */
        
        .section__projects::before{
            content: '';
            display: block;
            width: 24px;
            height: 30px;
            margin-bottom: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }
        
        .project{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-bottom: 30px;
            column-gap: 30px;
        }

        .project:nth-last-child(1){
            padding-bottom: 0;
        }
        
        .project:nth-child(2n){
            flex-direction: column;
        }

        .project__img{
            display: block;
            width: 100%;
            max-width: 1000px;
            max-height: 500px;
            /* border-radius: 50px; */
            object-fit: contain;
            object-position: bottom;
        }
        
        .project__text{
            display: flex;
            flex: 0 1 150px;
            flex-direction: column;
            justify-content: center;
            /* width: 450px; */
            padding: 5px 0;
            align-items: center;
        }
        
        .project__btn{
            display: block;
            width: 80%;
            height: 55px;
            border-radius: 200px;
            cursor: pointer;
            background-color: #00C9E0;
            color: #F5F5F5;
            line-height: 55px;
            font-weight: 400;
            font-size: 20px;
            text-decoration: none;
            text-align: center;
        }

        .project__btn:hover{
            background-color: #F5F5F5;
            color: #173c5a;
            opacity: 100%;
        }
        
        /* компетенции */
        
        .section__competencies{
            margin-bottom: 15px;
        }

        .competencies{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 20px 20px;
            justify-items: stretch;
            align-items: stretch;
            justify-content: center;
            grid-auto-columns: auto;
            grid-auto-flow: row;
        }
        
        .competencies__inner{
            padding: 15px;
            background-color: #011627 ;
            border: 1px solid #2c8b96;
            border-radius: 15px;
        }
        
        .competencies__text{
            font-size: 20px;
            text-align: justify;
        }
        
        .section__competencies::before{
            content: '';
            display: block;
            width: 24px;
            height: 30px;
            margin-bottom: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }
        
        /* Контакты */
        
        .contacts__inner{
            padding-bottom: 18px;
        }
        
        .section__contacts::before{
            content: '';
            display: flex;
            width: 24px;
            height: 30px;
            margin-right: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }
        
        .phonenumber{
            display: flex;
            flex-direction: row;
            font-size: 20px;
            margin: 15px;
            color: #f5f5f5;
            text-decoration: none;
        }
        
        .phonenumber::before{
            content: '';
            display: flex;
            width: 25px;
            height: 25px;
            margin-right: 12px;
            background-image: url('../resources/tel.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }
        
        .mail{
            display: flex;
            margin: 15px;
            font-size: 20px;
            width: 100%;
            color: #f5f5f5;
            text-decoration: none;
        }
        
        .mail::before{
            content: '';
            display: flex;
            width: 25px;
            height: 25px;
            margin-right: 12px;
            background-image: url('../resources/mail.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
            text-decoration: none;
        }
        
        .messenger{
            display: block;
            width: 25px;
            height: 25px;
            object-fit: contain;
            margin: 15px;
            opacity: 70%;
        }
        
        /* footer */
        
        .footer-menu__list{
            padding: 20px 0;
        }

    }
    @media (max-width: 768px) {
        
        .hero__inner{
            display: block;
            position: relative;
            width: 100%;
            height: 300px;
            margin: 0 auto;
            background-image: url('../resources/night.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%; 
        }

        .hero__head {
            display: block;
            position: absolute; 
            max-width: 350px;
            bottom: 30px;
            left: 40px;
            text-align: left;
            color: white;
            font-size: 30px;
        }
        
        .menu-nav{
            display: none;
        }

        .header__inner{
            position: fixed;
            display: flex;
            /* align-items: end; */
            justify-content: space-between;
            max-width: 767px;
            margin: 0 auto;
        }

        .header-nav{
            display: none;
        }

        .burger-btn{
            position: absolute;
            right: 40px;
            z-index: 100;
            display: block;
            position: fixed;
            width: 50px;
            height: 50px;
            /* background-color: red; */
            right: 30px;
            top: 10px;
            
        }      

        .burger-btn_open{
            background-color: black;
        }

        .burger-btn span{
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: white;
            left: 5px;
            transition: transform .5s, opacity .5s, background-color .5s;
        }

        .burger-btn span:nth-child(1) {
            transform: translateY(10px);
        }

        .burger-btn span:nth-child(2) {
            transform: translateY(25px);
        }

        .burger-btn span:nth-child(3) {
            transform: translateY(40px);
        }

        .burger-btn_open span:nth-child(1){
            transform: translateY(22px) rotate(-495deg);
        }

        .burger-btn_open span:nth-child(2){
            opacity: 0;
        }

        .burger-btn_open span:nth-child(3){
            transform: translateY(22px) rotate(495deg);
        }
         
        .logo__box{
            width: 50px;
            height: 50px;
            color: #F5F5F5;
        }

        a.logo{
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
        }

        .project__img{
            display: block;
            width: 100%;
            max-width: 1000px;
            max-height: 300px;
            object-fit: contain;
            object-position: bottom;
        }

        .section__about::before{
            content: '';
            display: block;
            width: 24px;
            height: 10px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }

        .about__inner{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1px;
        }

        .contacts__inner{
            padding-bottom: 12px;
        }

        .contacts__socials{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 450px) {

        section{
        margin-bottom: 20px;
        }   
        .hero__inner{
            display: block;
            position: relative;
            width: 100%;
            height: 300px;
            margin: 0 auto;
            background-image: url('../resources/night.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%; 
        }

        .hero__head {
            display: block;
            position: absolute; 
            max-width: 350px;
            bottom: 30px;
            left: 40px;
            text-align: left;
            color: white;
            font-size: 30px;
        }
        
        .menu-nav{
            display: none;
        }

        .header__inner{
            position: fixed;
            display: flex;
            /* align-items: end; */
            justify-content: space-between;
            max-width: 767px;
            margin: 0 auto;
        }

        .header-nav{
            display: none;
        }

        .burger-btn{
            right: 30px;
            top: 10px;
        }      
        
      

        .logo__box{
            width: 50px;
            height: 50px;
            color: #F5F5F5;
        }

        a.logo{
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
        }

        .project__img{
            display: block;
            width: 100%;
            max-width: 1000px;
            max-height: 250px;
            object-fit: contain;
            object-position: bottom;
        }

        .section__about::before{
            content: '';
            display: block;
            width: 24px;
            height: 10px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }

        .about__inner{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .about__foto{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            justify-self: center;
        }

        .contacts__inner{
            padding-bottom: 10px;
        }

        .contacts__socials{
            display: flex;
            flex-direction: column;
        }

        .section__projects::before{
            content: '';
            display: block;
            width: 24px;
            height: 10px;
            margin-bottom: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
        }
        .competencies{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 30px 30px;
            justify-items: stretch;
            align-items: stretch;
            justify-content: center;
            grid-auto-columns: auto;
            grid-auto-flow: row;
        }
        footer{
            height: fit-content;
            background-color: black;
            color: #fff;
        }
        .menu__link {
            display: inline-block;
            width: 230px;
            height: 67px;
            line-height: 67px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            text-decoration: none;
            opacity: 75%;
            cursor: pointer;
            color: white;
           
        }
        .menu__link:hover{
            border-bottom: 1px solid #00C9E0;
        }
    }
