*,
html,
body {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}

body{
    font-family: "Manrope", Helvetica, sans-serif;
    /* width: 100%; */
    /*  */
    /* background-color: #F5F5F5; */
    background-color: #173c5a;
}

h1, 
h2, 
h3, 
h4, 
p, 
a, 
li{
    letter-spacing: -0.03em;
    color: #F5F5F5;
}

h1{
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;  
}

h2{
    padding-bottom: 40px;
    font-size: 60px;
}

h3{
    padding-bottom: 30px;
    font-size: 30px;
}

main{
    /* width: 1400px;
    margin: 0 auto; */
    /*  */
    background: #011627;  
    /* padding: 0 125px;  */
    background-image: url('/resources/background.jpg');
}

section{
    margin-bottom: 150px;
    /* width: 100%;
    padding: 0 120px; */
    /*  */
}

section:nth-last-child(1){
    margin-bottom: 0;
}

section:nth-last-child(2){
    margin-bottom: 0;
}

/* section::before{
    content: '';
    display: block;
    width: 24px;
    height: 30px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
} */

.section__hero{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    /* border: 10px solid red; */
   
}

/* header */
/* .header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;

} */

.logo__box{
    width: 67px;
    height: 67px;
    color: #F5F5F5;
}

a.logo{
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

.header__inner{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
/* section hero */

/* .section__hero{
    z-index: -1;
} */

.hero__head {
    display: block;
    position: absolute; 
    max-width: 850px;
    /* width: 850px; */
    /* height: 205px; */
    bottom: 94px;
    left: 120px;
    text-align: left;
    color: white;
}

.hero__inner{
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    /* border: 1px solid red; */
    background-image: url('../resources/night.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}

.hero__text {
    display: block;
    position: absolute; 
    width: 430px;
    bottom: 328px;
    left: 125px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    text-align: left;
    color: white;
}

.gradient__img{
    display: block;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
}


/* меню */

.section__menu{
   position: sticky;
   top: 0;
   margin: 0;
   padding: 0;
}

/* .section__menu::before{
    content: '';
    display: block;
    width: 24px;
    height: 0;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
} */

.menu{
    
}

.menu__skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.menu__h2{

}


.menu__cross{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 21px;
    background-image: url('../resources/cross.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.menu-nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #011627;
}
.menu__list, .footer-menu__list {
   display: flex;
   justify-content: space-around;
}
.menu__item{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    align-content: end;
}
.menu__link{
    display: inline-block;
    width: 252px;
    height: 67px;
    line-height: 67px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    opacity: 75%;
    /* border-radius: 5px; */
    cursor: pointer;
    /* background: #00C9E0; */
    color: white;
}

.menu__link:hover{
    border-bottom: 1px solid #00C9E0;
    opacity: 100%;
}

/* обо мне */
 
.section__about::before{
    content: '';
    display: block;
    width: 24px;
    height: 70px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.about__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.about__description{
    /* width: 415px; */
    flex: 0 1 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    text-align: justify;
   
}
.about__head{
    /* margin-bottom: 30px; */
}

.about__foto-wrapper{
    flex: 0 1 50%;
    border-radius: 30px;
}

.about__foto{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

/* проекты */

.section__projects::before{
    content: '';
    display: block;
    width: 24px;
    height: 70px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

/* .projects__list{
    display: flex;
    flex-wrap: wrap;
} */

.project{
    display: flex;
    justify-content: space-between;
    /* width: 500px; */
    /* height: 500px; */
    padding-bottom: 30px;
    column-gap: 30px;
}

.project:nth-child(2n){
    flex-direction: row-reverse;
}

.project__img{
    display: block;
    flex: 0 1 645px;
    height: 600px;
    object-fit: contain;
    border-radius: 30px;
}

.project__text{
    flex: 0 1 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 450px; */
    padding: 20px 0;
    align-items: center;
}

.project__btn{
    display: block;
    width: 100%;
    height: 62px;
    border-radius: 200px;
    cursor: pointer;
    background-color: #00C9E0;
    color: #F5F5F5;
    line-height: 62px;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

/* компетенции */

.competencies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    grid-auto-columns: auto;
    grid-auto-flow: row;
}

.competencies__inner{
    padding: 15px;
    background-color: #011627 ;
    border: 1px solid #2c8b96;
    border-radius: 15px;
}

.competencies__text{
    font-size: 25px;
    padding-bottom: 30px;
    text-align: justify;
}

.section__competencies::before{
    content: '';
    display: block;
    width: 24px;
    height: 70px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

/* Контакты */

.contacts__inner{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 30px;
}

.contacts::before{
    content: '';
    display: flex;
    width: 24px;
    height: 70px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.phonenumber{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin: 15px;
    color: #f5f5f5;
    text-decoration: none;
}

.phonenumber::before{
    content: '';
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-image: url('../resources/tel.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}


.mail{
    display: flex;
    margin: 15px;
    font-size: 30px;
    width: 100%;
    color: #f5f5f5 ;
    /* opacity: 50%; */
    /* border-bottom: 1px solid #f5f5f5; */
    text-decoration: none;
}

.mail::before{
    content: '';
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-image: url('../resources/mail.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-decoration: none;
}

.contacts__socials{
    display: flex;
    flex-direction: row;
}

.messenger{
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 20px;
    opacity: 70%;
}

/* footer */

footer{
    height: 220px;
    background-color: black;
    color: #fff;
}

.footer-nav{
    max-width: 1000px;
    margin: 0 auto;
}

.footer-menu__list{
    padding: 33px 0;
}

.footer__text{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    opacity: 50%;
}

@media (min-width: 1199px) {
    
}